.list > h1 {
  display: inline-block;
  margin-right: 2rem;
}

.modal-body ul.headers {
  list-style: none;
}
.modal-body ul.headers h5 {
  font-weight: bold;
  font-size: 1.3rem;
}
.modal-body ul.headers p {
  margin-left: 3rem;
  font-size: 1.7rem;
}

#discount {
  max-width: 10rem;
}
#customer_id {
  max-width: 35rem;
}
#product_id {
  max-width: 30rem;
  margin-right: 1rem;
}
.abreast {
  display: flex;
}

.controls button {
  min-width: 12rem;
  margin-right: 1rem;
}

.invoices.list td a {
  font-size: 1.7rem;
  
}
